In [1]:
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns
from sklearn.model_selection import train_test_split
import mplleaflet

In [2]:
import requests

f=requests.get("https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv").text

image=open("aha.csv","w")

image.write(f)

1423529

In [3]:
df=pd.read_csv("aha.csv")

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
df.hist(bins=50,figsize=(10,10));

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [7]:
train_set,test_set=train_test_split(df,test_size=0.2,random_state=42)

In [8]:
# cmap = sns.cubehelix_palette(dark=.3, light=.8, as_cmap=True)
fig,ax=plt.subplots(figsize=(6,6))
plt.scatter(y=df.latitude,x=df.longitude,c=df.median_house_value,s=df["population"]/300,alpha=0.4,cmap=plt.get_cmap("jet"));

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
df["income_cat"]=pd.cut(df["median_income"],bins=[0.,1.5,3.0,4.5,6.0,np.inf],labels=[1,2,3,4,5])

In [11]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3

In [12]:
plt.figure()
df["income_cat"].hist();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [19]:
df.loc[0]

longitude              -122.23
latitude                 37.88
housing_median_age          41
total_rooms                880
total_bedrooms             129
population                 322
households                 126
median_income           8.3252
median_house_value      452600
ocean_proximity       NEAR BAY
income_cat                   5
Name: 0, dtype: object

In [14]:
from sklearn.model_selection import StratifiedShuffleSplit

In [20]:
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

In [21]:
for train_index,test_index in split.split(df,df["income_cat"]):
    start_train_set=df.loc[train_index]
    start_test_set=df.loc[test_index]

In [22]:
start_test_set["income_cat"].value_counts()/len(start_test_set)

3    0.350533
2    0.318798
4    0.176357
5    0.114583
1    0.039729
Name: income_cat, dtype: float64

In [23]:
for set_ in (start_train_set,start_test_set):
    set_.drop("income_cat",axis=1,inplace=True)

In [24]:
housing=start_train_set.copy()

In [25]:
fig,ax=plt.subplots(figsize=(10,7))
plt.scatter(y=housing.latitude,x=housing.longitude,c=housing.median_house_value,s=housing["population"]/300,alpha=0.4,cmap=plt.get_cmap("jet"));
plt.xlabel("longitude")
plt.ylabel("latitude")
plt.colorbar();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [26]:
corr_matrix=housing.corr()

In [27]:
corr_matrix["median_house_value"]

longitude            -0.047432
latitude             -0.142724
housing_median_age    0.114110
total_rooms           0.135097
total_bedrooms        0.047689
population           -0.026920
households            0.064506
median_income         0.687160
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [28]:
print(corr_matrix)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924478           -0.105848     0.048871
latitude            -0.924478  1.000000            0.005766    -0.039184
housing_median_age  -0.105848  0.005766            1.000000    -0.364509
total_rooms          0.048871 -0.039184           -0.364509     1.000000
total_bedrooms       0.076598 -0.072419           -0.325047     0.929379
population           0.108030 -0.115222           -0.298710     0.855109
households           0.063070 -0.077647           -0.306428     0.918392
median_income       -0.019583 -0.075205           -0.111360     0.200087
median_house_value  -0.047432 -0.142724            0.114110     0.135097

                    total_bedrooms  population  households  median_income  \
longitude                 0.076598    0.108030    0.063070      -0.019583
latitude                 -0.072419   -0.115222   -0.077647      -0.075205
housing_median_age       -0.325047   -0.298710   -0.306428      -0.111360
total_rooms               0.929379    0.855109    0.918392       0.200087
total_bedrooms            1.000000    0.876320    0.980170      -0.009740
population                0.876320    1.000000    0.904637       0.002380
households                0.980170    0.904637    1.000000       0.010781
median_income            -0.009740    0.002380    0.010781       1.000000
median_house_value        0.047689   -0.026920    0.064506       0.687160

                    median_house_value
longitude                    -0.047432
latitude                     -0.142724
housing_median_age            0.114110
total_rooms                   0.135097
total_bedrooms                0.047689
population                   -0.026920
households                    0.064506
median_income                 0.687160
median_house_value            1.000000

In [29]:
attributes=["median_house_value","median_income","total_rooms","housing_median_age"]
pd.plotting.scatter_matrix(housing[attributes],figsize=(12,8),alpha=0.3);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [30]:
housing.plot(kind="scatter",x="median_income",y="median_house_value",alpha=0.1);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [32]:
housing["rooms_per_hold"]=housing["total_rooms"]/housing["households"]
housing["bedrooms_per_room"]=housing["total_bedrooms"]/housing["total_rooms"]
housing["population_per_household"]=housing["population"]/housing["households"]

In [33]:
housing.corr()["median_house_value"].sort_values(ascending=False)

median_house_value          1.000000
median_income               0.687160
rooms_per_hold              0.146285
total_rooms                 0.135097
housing_median_age          0.114110
households                  0.064506
total_bedrooms              0.047689
population_per_household   -0.021985
population                 -0.026920
longitude                  -0.047432
latitude                   -0.142724
bedrooms_per_room          -0.259984
Name: median_house_value, dtype: float64

# DATA CLEANING

In [34]:
housing=start_train_set.drop("median_house_value",axis=1)
housing_labels=start_train_set["median_house_value"].copy()

In [35]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,<1H OCEAN
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,<1H OCEAN
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,NEAR OCEAN
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,INLAND
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,<1H OCEAN

In [36]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16354 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   ocean_proximity     16512 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.3+ MB

In [37]:
from sklearn.impute import SimpleImputer

imputer=SimpleImputer(strategy="median")

housing_num=housing.drop("ocean_proximity",axis=1)
imputer.fit(housing_num)

X=imputer.transform(housing_num)

housing_tr=pd.DataFrame(X,columns=housing_num.columns,index=housing_num.index)

In [38]:
housing_tr.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347

In [39]:
housing_tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16512 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
dtypes: float64(8)
memory usage: 1.1 MB

In [40]:
len(X)

16512

# handling categorical data

In [41]:
from sklearn.preprocessing import OrdinalEncoder

housing_cat=housing["ocean_proximity"]

ordinal_encoder=OrdinalEncoder()
housing_cat_encoded=ordinal_encoder.fit_transform(np.array(housing_cat).reshape(-1,1))
housing_cat_encoded[:10]

array([[0.],
       [0.],
       [4.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.]])

In [42]:
np.array(housing_cat).reshape(-1,1)

array([['<1H OCEAN'],
       ['<1H OCEAN'],
       ['NEAR OCEAN'],
       ...,
       ['INLAND'],
       ['<1H OCEAN'],
       ['NEAR BAY']], dtype=object)

In [43]:
housing_cat.unique()

array(['<1H OCEAN', 'NEAR OCEAN', 'INLAND', 'NEAR BAY', 'ISLAND'],
      dtype=object)

In [44]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder=OneHotEncoder()
housing_cat_1hot=cat_encoder.fit_transform(np.array(housing_cat).reshape(-1,1))
housing_cat_1hot.toarray()

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [45]:
cat_encoder.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

# feature scaling

## Pipeline and transformers

In [41]:

from sklearn.base import BaseEstimator, TransformerMixin

rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedrooms_per_room = True): # no *args or **kargs
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self, X, y=None):
        return self  # nothing else to do
    def transform(self, X):
        rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
        population_per_household = X[:, population_ix] / X[:, households_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household,
                         bedrooms_per_room]
        else:
            return np.c_[X, rooms_per_household, population_per_household]

attr_adder = CombinedAttributesAdder(add_bedrooms_per_room=False)
housing_extra_attribs = attr_adder.transform(housing.values)

housing_extra_attribs = pd.DataFrame(
    housing_extra_attribs,
    columns=list(housing.columns)+["rooms_per_household", "population_per_household"],
    index=housing.index)
housing_extra_attribs.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,rooms_per_household,population_per_household
17606,-121.89,37.29,38,1568,351,710,339,2.7042,<1H OCEAN,4.62537,2.0944
18632,-121.93,37.05,14,679,108,306,113,6.4214,<1H OCEAN,6.00885,2.70796
14650,-117.2,32.77,31,1952,471,936,462,2.8621,NEAR OCEAN,4.22511,2.02597
3230,-119.61,36.31,25,1847,371,1460,353,1.8839,INLAND,5.23229,4.13598
3555,-118.59,34.23,17,6592,1525,4459,1463,3.0347,<1H OCEAN,4.50581,3.04785

In [42]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('attribs_adder', CombinedAttributesAdder()),
        ('std_scaler', StandardScaler()),
    ])

housing_num_tr = num_pipeline.fit_transform(housing_num)

In [43]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 17606 to 15775
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16354 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   ocean_proximity     16512 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.3+ MB

In [44]:
from sklearn.compose import ColumnTransformer

num_attribs = list(housing_num)
cat_attribs = ["ocean_proximity"]

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(), cat_attribs),
    ])

housing_prepared = full_pipeline.fit_transform(housing)

In [45]:
housing_prepared.shape

(16512, 16)

# Training ML Model

## Linear Regression

In [46]:
from sklearn.linear_model import LinearRegression

lin_reg=LinearRegression()
lin_reg.fit(housing_prepared,housing_labels)

LinearRegression()

In [47]:
somedata=housing.iloc[:5]
some_labels=housing_labels.iloc[:5]

In [48]:
sd=full_pipeline.transform(somedata)

In [49]:
lin_reg.predict(sd)

array([210644.60459286, 317768.80697211, 210956.43331178,  59218.98886849,
       189747.55849879])

In [50]:
some_labels

17606    286600.0
18632    340600.0
14650    196900.0
3230      46300.0
3555     254500.0
Name: median_house_value, dtype: float64

In [51]:
from sklearn.metrics import mean_squared_error

housing_predictions=lin_reg.predict(housing_prepared)
lin_mse=mean_squared_error(housing_predictions,housing_labels)
lin_rmse=np.sqrt(lin_mse)

In [52]:
lin_rmse

68628.19819848923

## Decision Tree Regressor

In [53]:
from sklearn.tree import DecisionTreeRegressor

tree_reg= DecisionTreeRegressor()
tree_reg.fit(housing_prepared,housing_labels)

DecisionTreeRegressor()

In [54]:
tree_predict=tree_reg.predict(housing_prepared)
tree_mse=mean_squared_error(housing_labels,tree_predict)
tree_rmse=np.sqrt(tree_mse)

In [55]:
tree_rmse

0.0

## Cross Validation

### Better Evaluation using cross validation

In [56]:
from sklearn.model_selection import cross_val_score

scores=cross_val_score(tree_reg,housing_prepared,housing_labels,scoring="neg_mean_squared_error",cv=10)

tree_rmse_scores=np.sqrt(-scores)

**Decision Trees**

In [57]:
def display(scores):
    print("Scores : ",scores)
    print("Scores Mean : ",scores.mean())
    print("Standard Deviation : ",scores.std())

display(tree_rmse_scores)

Scores :  [68999.7861862  66630.45791042 69805.07950924 69912.74813612
 71363.74606717 76217.58873934 73112.59785035 70846.94988649
 76552.76213009 69009.21711833]
Scores Mean :  71245.09335337533
Standard Deviation :  3028.884591293491

**Linear Regression**

In [58]:
lin_scores=cross_val_score(lin_reg,housing_prepared,housing_labels,scoring="neg_mean_squared_error",cv=10)

In [59]:
lin_rmse_scores=np.sqrt(-lin_scores)
display(lin_rmse_scores)

Scores :  [66782.73843989 66960.118071   70347.95244419 74739.57052552
 68031.13388938 71193.84183426 64969.63056405 68281.61137997
 71552.91566558 67665.10082067]
Scores Mean :  69052.46136345083
Standard Deviation :  2731.6740017983493

**Random Forest Regressor**

In [60]:
from sklearn.ensemble import RandomForestRegressor
forest_reg=RandomForestRegressor()

forest_scores=cross_val_score(forest_reg,housing_prepared,housing_labels,scoring="neg_mean_squared_error",cv=10)

forest_rmse_score=np.sqrt(-forest_scores)
display(forest_rmse_score)

Scores :  [49281.13954726 47728.89084574 50045.4830663  52370.06127869
 49506.46954521 53180.35377341 48552.78818294 47998.71288761
 52997.12296871 50191.77440877]
Scores Mean :  50185.279650463985
Standard Deviation :  1908.6117709823354

In [61]:
forest_reg.fit(housing_prepared,housing_labels)

forest_predict=forest_reg.predict(housing_prepared)
forest_mse=mean_squared_error(housing_labels,forest_predict)
forest_rmse=np.sqrt(forest_mse)
forest_rmse

18782.37673976712

**Out of all the three models RandomForestRegressor performed the best**

**Hyperparameters are the parameters which are used by the learning model**

**Grid Search**

In [62]:
from sklearn.model_selection import GridSearchCV

param_grid=[
    {"n_estimators":[3,10,30],"max_features":[2,4,6,8]},
    {"bootstrap":[False],"n_estimators":[3,10],"max_features":[2,3,4]},
]

In [63]:
grid_search=GridSearchCV(forest_reg,param_grid,cv=5,scoring="neg_mean_squared_error",return_train_score=True)
grid_search.fit(housing_prepared,housing_labels)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             return_train_score=True, scoring='neg_mean_squared_error')

In [64]:
grid_search.best_params_

{'max_features': 6, 'n_estimators': 30}

In [65]:
grid_search.best_estimator_

RandomForestRegressor(max_features=6, n_estimators=30)

In [66]:
cvres=grid_search.cv_results_

for mean_score,params in zip(cvres["mean_test_score"],cvres["params"]):
    print(np.sqrt(-mean_score),params)

64386.70988130807 {'max_features': 2, 'n_estimators': 3}
55516.561038144835 {'max_features': 2, 'n_estimators': 10}
52781.12239700188 {'max_features': 2, 'n_estimators': 30}
60214.54973920807 {'max_features': 4, 'n_estimators': 3}
52962.76946440218 {'max_features': 4, 'n_estimators': 10}
50431.84207912955 {'max_features': 4, 'n_estimators': 30}
59708.62516321325 {'max_features': 6, 'n_estimators': 3}
52488.18593061384 {'max_features': 6, 'n_estimators': 10}
49936.76660172036 {'max_features': 6, 'n_estimators': 30}
59546.5042383185 {'max_features': 8, 'n_estimators': 3}
52170.60262725328 {'max_features': 8, 'n_estimators': 10}
49959.390967910964 {'max_features': 8, 'n_estimators': 30}
62485.18743969013 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
54245.75816818072 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
60188.312046512605 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
52506.16434240969 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
58174.69784024032 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
51200.92698018845 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}

**Random SearchCV**

In [71]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_distribs = {
        'n_estimators': randint(low=1, high=200),
        'max_features': randint(low=1, high=8),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(housing_prepared, housing_labels)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa3de3016a0>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fa3cd073e80>},
                   random_state=42, scoring='neg_mean_squared_error')

In [72]:
cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

49150.70756927707 {'max_features': 7, 'n_estimators': 180}
51389.889203389284 {'max_features': 5, 'n_estimators': 15}
50796.155224308866 {'max_features': 3, 'n_estimators': 72}
50835.13360315349 {'max_features': 5, 'n_estimators': 21}
49280.9449827171 {'max_features': 7, 'n_estimators': 122}
50774.90662363929 {'max_features': 3, 'n_estimators': 75}
50682.78888164288 {'max_features': 3, 'n_estimators': 88}
49608.99608105296 {'max_features': 5, 'n_estimators': 100}
50473.61930350219 {'max_features': 3, 'n_estimators': 150}
64429.84143294435 {'max_features': 5, 'n_estimators': 2}

In [74]:
feature_importances = grid_search.best_estimator_.feature_importances_
feature_importances

array([7.04972329e-02, 6.55276494e-02, 4.23843766e-02, 1.68839240e-02,
       1.71986208e-02, 1.73702849e-02, 1.62555015e-02, 3.15010394e-01,
       7.02062609e-02, 1.09981267e-01, 8.25604108e-02, 6.42495556e-03,
       1.62606674e-01, 4.18712614e-05, 2.52439012e-03, 4.52618659e-03])

In [75]:
extra_attribs = ["rooms_per_hhold", "pop_per_hhold", "bedrooms_per_room"]
#cat_encoder = cat_pipeline.named_steps["cat_encoder"] # old solution
cat_encoder = full_pipeline.named_transformers_["cat"]
cat_one_hot_attribs = list(cat_encoder.categories_[0])
attributes = num_attribs + extra_attribs + cat_one_hot_attribs
sorted(zip(feature_importances, attributes), reverse=True)

[(0.3150103939077524, 'median_income'),
 (0.16260667393512226, 'INLAND'),
 (0.10998126701968818, 'pop_per_hhold'),
 (0.08256041079451278, 'bedrooms_per_room'),
 (0.0704972328533272, 'longitude'),
 (0.07020626087160266, 'rooms_per_hhold'),
 (0.06552764936958445, 'latitude'),
 (0.04238437659151743, 'housing_median_age'),
 (0.017370284879157132, 'population'),
 (0.01719862076839925, 'total_bedrooms'),
 (0.016883924002139738, 'total_rooms'),
 (0.016255501483059046, 'households'),
 (0.006424955555457829, '<1H OCEAN'),
 (0.004526186590724638, 'NEAR OCEAN'),
 (0.002524390116544269, 'NEAR BAY'),
 (4.187126141083234e-05, 'ISLAND')]

In [77]:
final_model = grid_search.best_estimator_

X_test = start_test_set.drop("median_house_value", axis=1)
y_test = start_test_set["median_house_value"].copy()

X_test_prepared = full_pipeline.transform(X_test)
final_predictions = final_model.predict(X_test_prepared)

final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)

In [79]:
from scipy import stats

confidence = 0.95
squared_errors = (final_predictions - y_test) ** 2
np.sqrt(stats.t.interval(confidence, len(squared_errors) - 1,
                         loc=squared_errors.mean(),
                         scale=stats.sem(squared_errors)))

array([46099.39204506, 49963.89667171])