In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("lol.xlsx")

In [3]:
df.head()

,Programme,Register No\t,Name,School,Course Mode,Course Registered Status,Email,Mob No,Registered TimeStamp,Attendance Date
0,BCE,14BCE0650,AISHWARY UPADHYAY,SCOPE,Course Substitution,Registered and Approved,aishwary.upadhyay2014@vit.ac.in,9944200115,11-Aug-2017 14:10,11-Aug-2017
1,BCL,14BCL0082,PRANAV SATISH,SCE,Regular,Registered and Approved,pranav.satish2014@vit.ac.in,9710413496,11-Aug-2017 10:23,11-Aug-2017
2,BME,14BME0683,ADITYA RAM SAI CHEKURI,SMEC,Regular,Registered and Approved,adityaram.saichekuri2014@vit.ac.in,9943633379,11-Aug-2017 13:47,11-Aug-2017
3,BME,14BME0878,DEVARAAJ C,SMEC,Regular,Registered and Approved,c.devaraaj2014@vit.ac.in,7299333731,11-Aug-2017 11:31,11-Aug-2017
4,MSI,14MSI0067,ANIRBAN PANJA,SBST,Regular,Registered and Approved,anirban.panja2014@vit.ac.in,9038221814,11-Aug-2017 16:23,11-Aug-2017

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Programme                 99 non-null     object
 1   Register No	              99 non-null     object
 2   Name                      99 non-null     object
 3   School                    99 non-null     object
 4   Course Mode               99 non-null     object
 5   Course Registered Status  99 non-null     object
 6   Email                     99 non-null     object
 7   Mob No                    99 non-null     int64
 8   Registered TimeStamp      99 non-null     object
 9   Attendance Date           99 non-null     object
dtypes: int64(1), object(9)
memory usage: 7.9+ KB

In [5]:
df["Registered TimeStamp"]=pd.to_datetime(df["Registered TimeStamp"])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Programme                 99 non-null     object
 1   Register No	              99 non-null     object
 2   Name                      99 non-null     object
 3   School                    99 non-null     object
 4   Course Mode               99 non-null     object
 5   Course Registered Status  99 non-null     object
 6   Email                     99 non-null     object
 7   Mob No                    99 non-null     int64
 8   Registered TimeStamp      99 non-null     datetime64[ns]
 9   Attendance Date           99 non-null     object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 7.9+ KB

In [7]:
df["Registered TimeStamp"]

0    2017-08-11 14:10:00
1    2017-08-11 10:23:00
2    2017-08-11 13:47:00
3    2017-08-11 11:31:00
4    2017-08-11 16:23:00
             ...
94   2017-08-11 14:38:00
95   2017-08-11 14:02:00
96   2017-08-11 14:50:00
97   2017-08-11 14:08:00
98   2017-08-11 14:03:00
Name: Registered TimeStamp, Length: 99, dtype: datetime64[ns]

In [8]:
df.head()

,Programme,Register No\t,Name,School,Course Mode,Course Registered Status,Email,Mob No,Registered TimeStamp,Attendance Date
0,BCE,14BCE0650,AISHWARY UPADHYAY,SCOPE,Course Substitution,Registered and Approved,aishwary.upadhyay2014@vit.ac.in,9944200115,2017-08-11 14:10:00,11-Aug-2017
1,BCL,14BCL0082,PRANAV SATISH,SCE,Regular,Registered and Approved,pranav.satish2014@vit.ac.in,9710413496,2017-08-11 10:23:00,11-Aug-2017
2,BME,14BME0683,ADITYA RAM SAI CHEKURI,SMEC,Regular,Registered and Approved,adityaram.saichekuri2014@vit.ac.in,9943633379,2017-08-11 13:47:00,11-Aug-2017
3,BME,14BME0878,DEVARAAJ C,SMEC,Regular,Registered and Approved,c.devaraaj2014@vit.ac.in,7299333731,2017-08-11 11:31:00,11-Aug-2017
4,MSI,14MSI0067,ANIRBAN PANJA,SBST,Regular,Registered and Approved,anirban.panja2014@vit.ac.in,9038221814,2017-08-11 16:23:00,11-Aug-2017

In [9]:
df["Registered TimeStamp"].max()

Timestamp('2017-08-11 16:23:00')

In [10]:
df.rename(columns={"Registered TimeStamp":"date"},inplace=True)

In [11]:
df.head()

,Programme,Register No\t,Name,School,Course Mode,Course Registered Status,Email,Mob No,date,Attendance Date
0,BCE,14BCE0650,AISHWARY UPADHYAY,SCOPE,Course Substitution,Registered and Approved,aishwary.upadhyay2014@vit.ac.in,9944200115,2017-08-11 14:10:00,11-Aug-2017
1,BCL,14BCL0082,PRANAV SATISH,SCE,Regular,Registered and Approved,pranav.satish2014@vit.ac.in,9710413496,2017-08-11 10:23:00,11-Aug-2017
2,BME,14BME0683,ADITYA RAM SAI CHEKURI,SMEC,Regular,Registered and Approved,adityaram.saichekuri2014@vit.ac.in,9943633379,2017-08-11 13:47:00,11-Aug-2017
3,BME,14BME0878,DEVARAAJ C,SMEC,Regular,Registered and Approved,c.devaraaj2014@vit.ac.in,7299333731,2017-08-11 11:31:00,11-Aug-2017
4,MSI,14MSI0067,ANIRBAN PANJA,SBST,Regular,Registered and Approved,anirban.panja2014@vit.ac.in,9038221814,2017-08-11 16:23:00,11-Aug-2017

In [12]:
year = df["date"].dt.strftime("%Y")

In [13]:
year.value_counts()d

SyntaxError: invalid syntax (<ipython-input-13-6c6641026291>, line 1)

In [ ]:
df[df["date"]>"2017-08-11 14:00:00"]

In [ ]:
a=[[0]*10 for i in range(10)]

In [ ]:
a[1][2]=23

In [ ]:
a

In [ ]:
def minnode(n, keyval, mstset): 

    mini = 999999999999
    mini_index = None
    for i in range(n): 

        if (mstset[i] == False and 
            keyval[i] < mini):  
            mini = keyval[i] 
            mini_index = i 

    return mini_index 
def findcost(n, city): 
    parent = [None] * n 
    keyval = [None] * n  
    mstset = [None] * n 
    for i in range(n): 
        keyval[i] = 9999999999999
        mstset[i] = False
    parent[0] = -1
    keyval[0] = 0
 

    for i in range(n - 1): 
        u = minnode(n, keyval, mstset)  
        mstset[u] = True
        for v in range(n): 
            if (city[u][v] and mstset[v] == False and 
                city[u][v] < keyval[v]):  
                keyval[v] = city[u][v]  
                parent[v] = u 
    cost = 0
    for i in range(1, n): 
        cost += city[parent[i]][i]  
    print(cost) 



def main():


    cities=int(input())
    n=int(input())

    city1=[[0]*cities for i in range(cities)]

    for i in range(n):

        temp=list(map(int,input().split()))
        
        city1[temp[0]-1][temp[1]-1]=temp[2]

    print(findcost(cities, city1))

    print(city1)

In [ ]:
class GFG { 
  
   
    static int maxSum(int arr[], int n, int k) 
    { 
        
        if (n < k) { 
            System.out.println("Invalid"); 
            return -1; 
        } 
        int max_sum = 0; 
        for (int i = 0; i < k; i++) 
            max_sum += arr[i]; 

        int window_sum = max_sum; 
        for (int i = k; i < n; i++) { 
            window_sum += arr[i] - arr[i - k]; 
            max_sum = Math.max(max_sum, window_sum); 
        } 
        return max_sum; 
    } 

    public static void main(String[] args) 
    { 
        int arr[] = { 1, 4, 2, 10, 2, 3, 1, 0, 20 }; 
        int k = 4; 
        int n = arr.length; 
        System.out.println(maxSum(arr, n, k)); 
    } 
}

In [ ]:

N = 4

def printSolution( sol ): 
      
    for i in sol: 
        for j in i: 
            print(str(j) + " ", end ="") 
            print("") 
    return 
  

def isSafe( maze, x, y ): 
      if x >= 0 and x < N and y >= 0 and y < N and maze[x][y] != 0: 
        return True
      return False
    
def solveMaze( maze ):   
    sol = [ [ 0 for j in range(4) ] for i in range(4) ] 
    if solveMazeUtil(maze, 0, 0, sol) == False: 
        print("Solution doesn't exist"); 
        return False
    printSolution(sol) 
    return True

def solveMazeUtil(maze, x, y, sol): 
      
    if x == N - 1 and y == N - 1 and maze[x][y]!=0: 
        sol[x][y] = maze[x][y]
        return True
          
    if isSafe(maze, x, y) == True: 
        sol[x][y] = maze[x][y]
 
        if solveMazeUtil(maze, x + 1, y, sol) == True: 
            return True
              
        if solveMazeUtil(maze, x, y + 1, sol) == True: 
            return True
          
        sol[x][y] = 0
        return False

if __name__ == "__main__": 
 
    maze = [ [2, 0, 0, 0], 
             [1, 1, 0, 1], 
             [0, 1, 1, 0], 
             [1, 1, 1, 1] ] 
               
    solveMaze(maze)

In [ ]:


global N

def printSolution( sol ): 
    
    s=0
    for i in sol: 
        for j in i: 
            s+=j
    
    print(s)

def isSafe( maze, x, y ): 
      
    if x >= 0 and x < N and y >= 0 and y < N and maze[x][y] != 0: 
        return True
      
    return False

def solveMaze( maze,N): 

    sol = [ [ 0 for j in range(N) ] for i in range(N) ] 
    if solveMazeUtil(maze, 0, 0, sol) == False: 
        print("Solution doesn't exist"); 
        return False
    printSolution(sol) 
    return True

def solveMazeUtil(maze, x, y, sol): 
      
    if x == N - 1 and y == N - 1 and maze[x][y]!= 0: 
        sol[x][y] = maze[x][y]
        return True

    if isSafe(maze, x, y) == True: 
        sol[x][y] = maze[x][y]
        if solveMazeUtil(maze, x + 1, y, sol) == True: 
            return True
        if solveMazeUtil(maze, x, y + 1, sol) == True: 
            return True
        sol[x][y] = 0
        return False

def main():
    

    for i in range(N):
        temp=list(map(int,input().split()))
        maze.append(temp)
    solveMaze(maze,N) 

N=int(input())

main()

In [8]:

def ppp(n,h):
    
    start=0
    end=0
    count=0
    l=0
    forward=h.copy()
    fl=0
    el=0
    reverse=h[::-1]
    while fl+el<n:


        st=forward[0]
        for i in range(len(forward[1:])):
            
            if st<forward[i]:
                
                st=forward[i]
                continue
            else:
                count+=1
                fl+=len(forward[:i])
                forward=forward[:i]
                break


        if fl+el==n:
            break

        et=reverse[0]
        for i in range(len(reverse[1:])):
            if et<reverse[i]:
                et=reverse[i]
                continue
            else:
                count+=1
                el+=len(forward[:i])
                forward=forward[:i]
                break
    return count

print(ppp(8,[1,2,3,4,8,7,6,5]))

IndexError: list index out of range

In [24]:
def countofsub(s, K): 
    N = len(s) 
    res = 0
    countOfOne = 0
    freq = [0 for i in range(N + 1)] 

    freq[0] = 1

    for i in range(0, N, 1): 

        countOfOne += ord(s[i]) - ord('0') 

        if (countOfOne >= K): 

            res += freq[countOfOne - K] 

        freq[countOfOne] += 1
      
    return res


n=int(input())
for i in range(n):
    a=int(input())
    arr=(input())
    count=arr.count("1")
    k=int(input())
    s=0
    for i in range(k,count+1):
        s+=(countofsub(arr,k))
    print(s)

 1
 3
 111
 2

4

# n=int(input())

for i in range(n):
    
    n=int(input())
    
    if n ==1 or n%2==0:
        print("A")
    else:
        print("B")

In [7]:
a="1010"
count=a.count("1")

In [8]:
count

2

In [9]:
print(len(list(map([len("item"),len("item"),0,2,"item"]),1)))

TypeError: map() must have at least two arguments.

In [36]:
def countofsub(s, K): 
    N = len(s) 
    count=arr.count("1")
    K=[i for i in range(K,count+1)]
    res = 0
    countOfOne = 0
    freq = [0 for i in range(N + 1)] 

    freq[0] = 1

    for i in range(0, N, 1): 
          
        countOfOne += ord(s[i]) - ord('0') 

        if (countOfOne >= K[-1] or countOfOne in K ): 
              
            res += freq[countOfOne - K] 
 
        freq[countOfOne] += 1
      
    return res 
  
n=int(input())
for i in range(n):
    a=int(input())
    arr=(input())
    count=arr.count("1")
    k=int(input())
    s=0
    s+=(countofsub(arr,i))
    print(s)
    1e
    '/'m

 1
 2
 3
 111

TypeError: unsupported operand type(s) for -: 'int' and 'list'

In [33]:
a=[i for i in range(k,count)]

In [34]:
a

[1, 2]

In [23]:
def MathChallenge(strParam):
    n=strParam

    elements=n.split()

    operator=elements[1]
    equal=elements[3]

    if "x" in elements:

        first=elements[0]
        second=elements[2]
        third=elements[4]
        num=elements.index("x")
        if num ==0:

            if operator == "+":
                ans=int(third)-int(second)
            elif operator =="-":
                ans=int(third)+int(second)
            elif operator =="*":
                ans=int(third)/int(second)
            else:
                ans=int(third)*int(second)

        elif num==2:

            if operator == "+":
                ans=int(third)-int(first)
            elif operator =="-":
                ans=int(first)+int(third)
            elif operator =="*":
                ans=int(third)/int(first)
            else:
                ans=int(first)*int(third)

        else:

            if operator == "+":
                ans=int(first)+int(second)
            elif operator =="-":
                ans=int(first)-int(second)
            elif operator =="*":
                ans=int(first)*int(second)
            else:
                ans=int(first)/int(second)


    else:

        first=elements[0]
        second=elements[2]
        third=elements[4]

        if "x" in first:
            if operator == "+":
                temp=int(third)-int(second)
            elif operator =="-":
                temp=int(third)+int(second)
            elif operator =="*":
                temp=int(third)/int(second)
            else:
                temp=int(third)*int(second)


            index=first.index("x")
            ans=str(temp)[index]

        elif "x" in second:
            if operator == "+":
                temp=int(third)-int(first)
            elif operator =="-":
                temp=int(first)+int(third)
            elif operator =="*":
                temp=int(third)/int(first)
            else:
                temp=int(first)*int(third)


            index=second.index("x")
            ans=str(temp)[index]

        else:
            if operator == "+":
                temp=int(first)+int(second)
            elif operator =="-":
                temp=int(first)-int(second)
            elif operator =="*":
                temp=int(first)*int(second)
            else:
                temp=int(first)/int(second)


            index=third.index("x")
            ans=str(temp)[index]
    
    return int(ans)
        
        

MathChallenge(input())

 728x7819 - 72847810 = 9

4

In [7]:
s="2x"
s.index("x")

1

In [17]:
def MathChallenge(strParam):
    n=strParam
    print(n.split())

In [18]:
a="aaaa"
a=a.split()

In [19]:
a

['aaaa']

In [42]:

def hello(input1,input2):

    n=input1

    start=0
    end=0
    flag=False
    length=0

    for i in range(n):

        temp=input2[i]
        if not flag:

            start=temp[0]
            end=temp[1]
            flag=True
            
        else:
            if end < temp[0]:
                
#                 *******
                length+=(end-start)
                start=temp[0]
                end=temp[1]
#             ************
            
            
            elif temp[0]<=end and end <=temp[1]:
                end=temp[1]
            else:
                continue
    length+=(end-start)
    return length

hello(1,[[5,6],[6,0]])

1