In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("traffic_data.txt",header=None)

In [5]:
df.head()

         0      1              2   3   4
0  Tuesday  00:00  San Francisco  no   3
1  Tuesday  00:05  San Francisco  no   8
2  Tuesday  00:10  San Francisco  no  10
3  Tuesday  00:15  San Francisco  no   6
4  Tuesday  00:20  San Francisco  no   1

In [45]:
import imblearn
import numpy as np
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

oversample = RandomOverSampler()
undersample=RandomUnderSampler()
X={"ID":[1,2,3,4,5,6,7],"Variable X":[10,11,3,6,2,6,4],"Class label":list("AABBBBB")}
df=pd.DataFrame(X)
X=np.array(df["Variable X"]).reshape(-1,1)
y=np.array(df["Class label"])
X_over, y_over = oversample.fit_resample(X, y)

X2,y2=undersample.fit_resample(X,y)

In [47]:
X_over,y_over, X2,y2

(array([[10],
        [11],
        [ 3],
        [ 6],
        [ 2],
        [ 6],
        [ 4],
        [11],
        [10],
        [10]]),
 array(['A', 'A', 'B', 'B', 'B', 'B', 'B', 'A', 'A', 'A'], dtype=object),
 array([[10],
        [11],
        [ 3],
        [ 2]]),
 array(['A', 'A', 'B', 'B'], dtype=object))

In [3]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler # doctest: +NORMALIZE_WHITESPACE

In [20]:
oversample = RandomOverSampler()

In [21]:
import pandas as pd

In [22]:
X={"ID":[1,2,3,4,5,6,7],"Variable X":[10,11,3,6,2,6,4],"Class label":list("AABBBBB")}

In [23]:
df=pd.DataFrame(X)

In [24]:
df.head()

   ID  Variable X Class label
0   1          10           A
1   2          11           A
2   3           3           B
3   4           6           B
4   5           2           B

In [40]:
X=np.array(df["Variable X"]).reshape(-1,1)

In [41]:
y=np.array(df["Class label"])

In [42]:
X_over, y_over = oversample.fit_resample(X, y)

In [36]:
X_over,y_over

(array([[10],
        [11],
        [ 3],
        [ 6],
        [ 2],
        [ 6],
        [ 4],
        [11],
        [10],
        [11]]),
 array(['A', 'A', 'B', 'B', 'B', 'B', 'B', 'A', 'A', 'A'], dtype=object))

In [33]:
X

array([[10],
       [11],
       [ 3],
       [ 6],
       [ 2],
       [ 6],
       [ 4]])

In [ ]:
X=np.array([])