In [1]:
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
import seaborn as sns
from sklearn.model_selection import train_test_split
import mplleaflet

In [2]:
import requests

f=requests.get("https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv").text

image=open("aha.csv","w")

image.write(f)

1423529

In [3]:
df=pd.read_csv("aha.csv")

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
df.hist(bins=50,figsize=(10,10));

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [8]:
train_set,test_set=train_test_split(df,test_size=0.2,random_state=42)

In [16]:
# cmap = sns.cubehelix_palette(dark=.3, light=.8, as_cmap=True)
fig,ax=plt.subplots(figsize=(6,6))
plt.scatter(y=df.latitude,x=df.longitude,c=df.median_house_value,s=df["population"]/300,alpha=0.4,cmap=plt.get_cmap("jet"));

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [10]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [32]:
df["income_cat"]=pd.cut(df["median_income"],bins=[0.,1.5,3.0,4.5,6.0,np.inf],labels=[1,2,3,4,5])

In [33]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3

In [34]:
plt.figure()
df["income_cat"].hist();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [22]:
from sklearn.model_selection import StratifiedShuffleSplit

In [24]:
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

In [41]:
for train_index,test_index in split.split(df,df["income_cat"]):
    start_train_set=df.loc[train_index]
    start_test_set=df.loc[test_index]

In [42]:
start_test_set["income_cat"].value_counts()/len(start_test_set)

3    0.350533
2    0.318798
4    0.176357
5    0.114583
1    0.039729
Name: income_cat, dtype: float64

In [43]:
for set_ in (start_train_set,start_test_set):
    set_.drop("income_cat",axis=1,inplace=True)

In [44]:
housing=start_train_set.copy()

In [49]:
fig,ax=plt.subplots(figsize=(10,7))
plt.scatter(y=housing.latitude,x=housing.longitude,c=housing.median_house_value,s=housing["population"]/300,alpha=0.4,cmap=plt.get_cmap("jet"));
plt.xlabel("longitude")
plt.ylabel("latitude")
plt.colorbar();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [50]:
corr_matrix=housing.corr()

In [51]:
corr_matrix["median_house_value"]

longitude            -0.047432
latitude             -0.142724
housing_median_age    0.114110
total_rooms           0.135097
total_bedrooms        0.047689
population           -0.026920
households            0.064506
median_income         0.687160
median_house_value    1.000000
Name: median_house_value, dtype: float64

In [52]:
print(corr_matrix)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924478           -0.105848     0.048871
latitude            -0.924478  1.000000            0.005766    -0.039184
housing_median_age  -0.105848  0.005766            1.000000    -0.364509
total_rooms          0.048871 -0.039184           -0.364509     1.000000
total_bedrooms       0.076598 -0.072419           -0.325047     0.929379
population           0.108030 -0.115222           -0.298710     0.855109
households           0.063070 -0.077647           -0.306428     0.918392
median_income       -0.019583 -0.075205           -0.111360     0.200087
median_house_value  -0.047432 -0.142724            0.114110     0.135097

                    total_bedrooms  population  households  median_income  \
longitude                 0.076598    0.108030    0.063070      -0.019583
latitude                 -0.072419   -0.115222   -0.077647      -0.075205
housing_median_age       -0.325047   -0.298710   -0.306428      -0.111360
total_rooms               0.929379    0.855109    0.918392       0.200087
total_bedrooms            1.000000    0.876320    0.980170      -0.009740
population                0.876320    1.000000    0.904637       0.002380
households                0.980170    0.904637    1.000000       0.010781
median_income            -0.009740    0.002380    0.010781       1.000000
median_house_value        0.047689   -0.026920    0.064506       0.687160

                    median_house_value
longitude                    -0.047432
latitude                     -0.142724
housing_median_age            0.114110
total_rooms                   0.135097
total_bedrooms                0.047689
population                   -0.026920
households                    0.064506
median_income                 0.687160
median_house_value            1.000000

In [66]:
attributes=["median_house_value","median_income","total_rooms","housing_median_age"]
pd.plotting.scatter_matrix(housing[attributes],figsize=(12,8),alpha=0.3);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …